<div class="container">
  <h1>New user</h1>
  <form class="form1" action="/users" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <label for="firstname">First Name<br>
      <input type="text" name="user[first_name]">
      <% if @errors %>
        <ul><% @errors[:first_name].each do |err| %><li><%= err %></li><% end %></ul>
      <% end %>
    </label><br><br>

    <label for="lastname">Last Name<br>
      <input type="text" name="user[last_name]">
      <% if @errors %>
        <ul><% @errors[:last_name].each do |err| %><li><%= err %></li><% end %></ul>
      <% end %>
    </label><br><br>

    <label for="email">Email Address<br>
      <input type="text" name="user[email_address]">
      <% if @errors %>
        <ul><% @errors[:email_address].each do |err| %><li><%= err %></li><% end %></ul>
      <% end %>
    </label><br><br>

    <label for="password">Password<br>
      <input type="text" name="user[password]">
      <% if @errors %>
        <ul><% @errors[:password].each do |err| %><li><%= err %></li><% end %></ul>
      <% end %>
    </label><br><br>

    <input class="button" type="submit" name="create" value="Create">

  </form>

  <br><br>
  <a href="/">Back</a>

</div>
