<h1>Listing users</h1>

<table>
<tr>
	<th>First name</th>
	<th>Last name</th>
	<th>Email</th>
</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= user.email_address %></td>
			<td><a href="/users/<%=user.id%>">Show</a> | <a href="/users/<%=user.id%>/edit">Edit</a> | <a href= "users/<%=user.id%>" data-method='delete'>Destroy</a></td>
		</tr>
	<% end %>
</table>

<a href="/users/new">New User</a>

