<% if flash[:notice] %>
  <div><%= flash[:notice] %></div>
<% end %>

<h1>Listing products</h1>
<a href="/comments/">All comments</a>
<br><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.pricing %></td>
        <td><%= product.category.name %></td>
        <td>
          <a href="/products/<%= product.id %>">Show</a> |
          <a href="/products/<%= product.id %>/edit">Edit</a> |
          <a href="/products/<%= product.id %>" data-method="delete">Destroy</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<a href="/products/new/">New Product</a>
