
<div class="messags">
  <%= flash[:msg] %>
</div>

<div class="info">
  <h4>Submitted Information</h4>
  Name: <%= @info[:name] %>  <br><br>
  Dojo Location: <%= @info[:location] %>  <br><br>
  Favorite language: <%= @info[:language] %>  <br><br>
  Comment: <%= @info[:comment] %>  <br><br>

  <a href="/">Go Back</a>
</div>
