<h1>User#new</h1>
<p>Find me in app/views/user/new.html.erb</p>

<%= form_for @user, url: "/user" do |f| %>
	Email: <%= f.text_field :email %><br>
	Password <%= f.password_field :password %><br>
	Password Confirm: <%= f.password_field :password_confirmation %><br>
	<%= f.submit "Register" %>
<% end %>