<h1>Editing User</h1>

<form action='/users/<%= @user.id %>' method="POST">
  <input type="hidden" name="_method" value="patch">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <div>
    First Name: <input type="text" name="user[first_name]" value="<%= @user.first_name %>">
  </div>
  <div>
    Last Name: <input type="text" name="user[last_name]" value="<%= @user.last_name %>">
  </div>
  <div>
    Email: <input type="text" name="user[email_address]" value="<%= @user.email_address %>">
  </div>
  <div>
    Password: <input type="password" name="user[password]" value="<%= @user.password %>">
  </div>
  <input type="submit" value="Update">
</form>
<br>
<a href="/users/<%= @user.id %>">Show</a> | <a href="/users/">Back</a>
